:root {
  --black: #000000;
  --white: #ffffff;
  --light-grey: #b6b6b6;
  --grey: #616161;
}

.header {
    background-color: var(--white);
    height: 2vh;
}

body {
    background-color: var(--grey);
    padding: 0px;
    margin: 0px;
}

.decorimg {
    width: 8vw;
    height: auto;
}
