:root {
  --black: #000000;
  --white: #ffffff;
  --light-grey: #b6b6b6;
  --grey: #616161;
}

.header {
    background-color: var(--white);
    height: auto;
}

.nomargin {
    margin: 0;
}

.nopadding {
    padding: 0;
}

.topnav a {
  float: left;
  display: block;
  color: var(--grey);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: var(--light-grey);
}

.topnav a.active {
  background-color: var(--light-grey);
  color: var(--grey);
}

.topnav .icon {
  display: none;
}

body {
    background-color: var(--grey);
    padding: 0px;
    margin: 0px;
}

.decorimg {
    width: 10vw;
    height: auto;
    min-width: 119px;
}
